<%- include("partials/header") %>
<div class="main-section">
<div class="container">
<div class="center-flex">
  <div class="item-1 pb-5">
    <h1>Thank you for your Email!</h1>
  </div>
  <div class="item-2 pb-5">
    <iframe
      src="https://giphy.com/embed/kcpxBdlB2lS8mfGJQm"
      allowFullScreen
      frameBorder="0"
    ></iframe>
  </div>

  <div class="item-3"><p>I will get back to you as soon as possible!</p></div>

  <a href="http://localhost:3000/" class="homeButton">HOME</a>
</div>
<%- include("partials/footer") %>
